<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beratbadanideal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/berbaid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/berbaid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HasilActivity" />
        <activity android:name=".HitungActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>